In [1]:
import os
import pandas as pd
import numpy as np

#%pip install pycountry-convert

In [2]:
#installation
import pycountry
#function to convert to alpah2 country codes and continents
from pycountry_convert import country_alpha2_to_continent_code, country_name_to_country_alpha2
def get_continent(names):
    try:
        cn_a2_code =  country_name_to_country_alpha2(names)
    except:
        cn_a2_code = 'Unknown' 
    try:
        cn_continent = country_alpha2_to_continent_code(cn_a2_code)
    except:
        cn_continent = 'Unknown' 
    return (names,cn_a2_code, cn_continent)

In [3]:
ls_alpha_2=[get_continent(country.name) for country in pycountry.countries]

df=pd.DataFrame(ls_alpha_2)

In [4]:
continents = {
    'NA': 'North America',
    'SA': 'South America', 
    'AS': 'Asia',
    'OC': 'Australia',
    'AF': 'Africa',
    'EU': 'Europe',
    'Unknown' :'Unknown'
}

df_NA=df[(df[2]=='NA')]
df_NA.size

120

In [6]:
os.getcwd()
import glob
ls_VPA_countries=glob.glob("Tropicos_Name_Search_Results*")
outls= [f.split('.')[0] for f in 
[fn.split('_')[4] for fn in ls_VPA_countries]
]

print(outls)

['Belize', 'Canada', 'Costa Rica', 'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama', 'United States']

In [68]:
df_NA[~df_NA[0].isin(outls)]

                                    0   1   2
0                               Aruba  AW  NA
3                            Anguilla  AI  NA
13                Antigua and Barbuda  AG  NA
20   Bonaire, Sint Eustatius and Saba  BQ  NA
25                            Bahamas  BS  NA
27                   Saint Barthélemy  BL  NA
30                            Bermuda  BM  NA
33                           Barbados  BB  NA
53                               Cuba  CU  NA
54                            Curaçao  CW  NA
56                     Cayman Islands  KY  NA
61                           Dominica  DM  NA
63                 Dominican Republic  DO  NA
85                         Guadeloupe  GP  NA
90                            Grenada  GD  NA
91                          Greenland  GL  NA
100                             Haiti  HT  NA
112                           Jamaica  JM  NA
121             Saint Kitts and Nevis  KN  NA
128                       Saint Lucia  LC  NA
136        Saint Martin (French part)  MF  NA
153                        Montserrat  MS  NA
154                        Martinique  MQ  NA
180                       Puerto Rico  PR  NA
203         Saint Pierre and Miquelon  PM  NA
215          Turks and Caicos Islands  TC  NA
224               Trinidad and Tobago  TT  NA
237  Saint Vincent and the Grenadines  VC  NA
239           Virgin Islands, British  VG  NA
240              Virgin Islands, U.S.  VI  NA

In [18]:
j=0
ls_VPA_countries[j], outls[j]

#pd.read_csv(ls_VPA_countries[j],sep="\t")

('Tropicos_Name_Search_Results_Belize.dat', 'Belize')

In [17]:
import ftfy
import getopt
import lzma
import os
import re
import regex ### seems to have a memory leak, do not use
import sys
from thefuzz import fuzz ### pip3 install thefuzz[speedup]
from thefuzz import process

C:\ProgramData\Anaconda3\lib\site-packages\thefuzz\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [1]:
#grep '^"' --include *Belize*  | tr -d '"' | awk -F'\t' '{if(match($3,/ /)){print $3,$4}}' | sort -u | awk 'BEGIN{print "scientificName"}{print $0}' > cvpa.tsv ### 159,831 taxa
# here: write a code to querry coutnry name and apply grep, put country name on the column of the output file. 
grep '^"' Tropicos_Name_Search_Results_*.dat| tr -d '"' | awk -F'\t' '{if(match($3,/ /)){print $3,$4}}' | sort -u | awk 'BEGIN{print "scientificName"}{print $0}' > cvpa.tsv ### 159,831 taxa
./2wcvp.py -i cvpa.tsv -w wcvp-5.0.xz 1> cvpa-wcvp.tsv 2> cvpa-wcvp.err # can we show a bar or something when we are running 2wcvp.py?
sort -t$'\t' -k 1b,1 cvpa-wcvp.tsv | uniq | grep -v scientificName > cvpa-wcvp.txt ### 124,668 records

SyntaxError: invalid syntax (<ipython-input-1-453b26d9f21c>, line 1)

In [ ]:
#