In [2]:
import os
import pandas as pd
import numpy as np

%pip install pycountry-convert

Requirement already satisfied: pycountry-convert in c:\programdata\anaconda3\lib\site-packages (0.7.2)
Requirement already satisfied: pytest>=3.4.0 in c:\programdata\anaconda3\lib\site-packages (from pycountry-convert) (6.2.3)
Requirement already satisfied: pytest-cov>=2.5.1 in c:\programdata\anaconda3\lib\site-packages (from pycountry-convert) (3.0.0)
Requirement already satisfied: repoze.lru>=0.7 in c:\programdata\anaconda3\lib\site-packages (from pycountry-convert) (0.7)
Requirement already satisfied: pytest-mock>=1.6.3 in c:\programdata\anaconda3\lib\site-packages (from pycountry-convert) (3.6.1)
Requirement already satisfied: pycountry>=16.11.27.1 in c:\programdata\anaconda3\lib\site-packages (from pycountry-convert) (20.7.3)
Requirement already satisfied: pprintpp>=0.3.0 in c:\programdata\anaconda3\lib\site-packages (from pycountry-convert) (0.4.0)
Requirement already satisfied: wheel>=0.30.0 in c:\programdata\anaconda3\lib\site-packages (from pycountry-convert) (0.36.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (20.3.0)
Requirement already satisfied: iniconfig in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (1.1.1)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (20.9)
Requirement already satisfied: pluggy<1.0.0a1,>=0.12 in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (0.13.1)
Requirement already satisfied: py>=1.8.2 in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (1.10.0)
Requirement already satisfied: toml in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (0.10.2)
Requirement already satisfied: atomicwrites>=1.0 in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (1.4.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry-convert) (0.4.4)
Requirement already satisfied: coverage[toml]>=5.2.1 in c:\programdata\anaconda3\lib\site-packages (from pytest-cov>=2.5.1->pycountry-convert) (6.0.2)
Requirement already satisfied: tomli in c:\programdata\anaconda3\lib\site-packages (from coverage[toml]>=5.2.1->pytest-cov>=2.5.1->pycountry-convert) (1.2.2)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->pytest>=3.4.0->pycountry-convert) (2.4.7)
Note: you may need to restart the kernel to use updated packages.

In [5]:
#installation
import pycountry
#function to convert to alpah2 country codes and continents
from pycountry_convert import country_alpha2_to_continent_code, country_name_to_country_alpha2
def get_continent(names):
    try:
        cn_a2_code =  country_name_to_country_alpha2(names)
    except:
        cn_a2_code = 'Unknown' 
    try:
        cn_continent = country_alpha2_to_continent_code(cn_a2_code)
    except:
        cn_continent = 'Unknown' 
    return (names,cn_a2_code, cn_continent)

In [14]:
ls_alpha_2=[get_continent(country.name) for country in pycountry.countries]

df=pd.DataFrame(ls_alpha_2)

In [10]:
continents = {
    'NA': 'North America',
    'SA': 'South America', 
    'AS': 'Asia',
    'OC': 'Australia',
    'AF': 'Africa',
    'EU': 'Europe',
    'Unknown' :'Unknown'
}

df_NA=df[(df[2]=='NA')]
df_NA.size

120

In [67]:
os.getcwd()
import glob
ls_VPA_names=glob.glob("Tropicos_Name_Search_Results*")
outls= [f.split('.')[0] for f in 
[fn.split('_')[4] for fn in ls_VPA_names]
]

print(outls)

['Belize', 'Canada', 'Costa Rica', 'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama', 'United States']

In [68]:
df_NA[~df_NA[0].isin(outls)]

                                    0   1   2
0                               Aruba  AW  NA
3                            Anguilla  AI  NA
13                Antigua and Barbuda  AG  NA
20   Bonaire, Sint Eustatius and Saba  BQ  NA
25                            Bahamas  BS  NA
27                   Saint Barthélemy  BL  NA
30                            Bermuda  BM  NA
33                           Barbados  BB  NA
53                               Cuba  CU  NA
54                            Curaçao  CW  NA
56                     Cayman Islands  KY  NA
61                           Dominica  DM  NA
63                 Dominican Republic  DO  NA
85                         Guadeloupe  GP  NA
90                            Grenada  GD  NA
91                          Greenland  GL  NA
100                             Haiti  HT  NA
112                           Jamaica  JM  NA
121             Saint Kitts and Nevis  KN  NA
128                       Saint Lucia  LC  NA
136        Saint Martin (French part)  MF  NA
153                        Montserrat  MS  NA
154                        Martinique  MQ  NA
180                       Puerto Rico  PR  NA
203         Saint Pierre and Miquelon  PM  NA
215          Turks and Caicos Islands  TC  NA
224               Trinidad and Tobago  TT  NA
237  Saint Vincent and the Grenadines  VC  NA
239           Virgin Islands, British  VG  NA
240              Virgin Islands, U.S.  VI  NA

In [69]:
ls_VPA_names

['Tropicos_Name_Search_Results_Belize.dat',
 'Tropicos_Name_Search_Results_Canada.dat',
 'Tropicos_Name_Search_Results_Costa Rica.dat',
 'Tropicos_Name_Search_Results_El Salvador.dat',
 'Tropicos_Name_Search_Results_Guatemala.dat',
 'Tropicos_Name_Search_Results_Honduras.dat',
 'Tropicos_Name_Search_Results_Mexico.dat',
 'Tropicos_Name_Search_Results_Nicaragua.dat',
 'Tropicos_Name_Search_Results_Panama.dat',
 'Tropicos_Name_Search_Results_United States.dat']